#title{
  background-color: #333;
  margin-top:-15px;
  padding-left:30px;
  padding-bottom:20px;
  padding-top:10px;
  vertical-align:middle;
}

#app_name{
   display:inline-block; 
   color: #ccc;
   padding-left: 50px;
   vertical-align:middle;
   font-size: 50px;
}

#controls {
  background-color: #bbb;
  padding: 30px 30px 550px 30px;
  min-width:300px;
}

.fish {
  padding-left: 30px;
  padding-top: 30px;
}

.fish_sq {
  border: solid .5px #999;
  border-radius:10px;
  padding: 30px 40px 40px 40px;
  min-width:375px;

}


h5 {
  display: inline-block;
  width: 200px;
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
}

#num_spawners {
  display: inline-block;
}

#num_fry {
  display: inline-block;
}

#spawn_hab_need {
  display: inline-block;
}

#fry_hab_need {
  display: inline-block;
}

#spawn_hab_available {
  display: inline-block;
}

#fry_hab_available {
  display: inline-block;
}

#spawn_limit {
  display: inline-block;
}

#spawn_hab {
  display: inline-block;
  padding-right: 30px;
}

#fry_hab {
  display: inline-block;
}

#fry_limit {
  display: inline-block;
}

.shiny-text-output {
  font-size: 20px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight:300;
  font-size:18px;
}