#title {
  display: inline-flex;
  background-color: #aaa;
}

#controls {
  background-color: #ddd;
}

#spawn_sq {
  display: inline-block;
  border: solid .5px #ccc;
}

#fry_sq {
  display: inline-block;
  border: solid .5px #ccc;
}

