#title {
  display: inline-flex;
}

/*
#size_hab{
  display:inline-flex;
  margin-right:20px;
}

#spawn_hab{
  margin-right:20px;
}

#fry_hab{
  margin-right:20px;
}

#parr_hab{
  margin-right:20px;
}
*/
